In [9]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\administrator\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\administrator\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\administrator\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
import numpy as np

In [15]:
import pandas as pd

# Replace 'your_dataset.csv' with the path to your dataset file
df = pd.read_csv('diabetes_prediction_dataset.csv')

# Display the first few rows of the dataframe
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [19]:
missing_gender = df['gender'].isnull().sum()
print(missing_gender)

0

In [35]:
df['diabetes'].isnull().sum()

0

In [39]:
df['gender'].value_counts()

gender
Female    58552
Male      41430
Other        18
Name: count, dtype: int64

In [41]:
df['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [43]:
# Apply one-hot encoding to the 'gender' column
df_new = pd.get_dummies(df, columns=['gender'], prefix='gender')

# Display the first few rows of the encoded dataset
df_new.head()

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other
0,80.0,0,1,never,25.19,6.6,140,0,True,False,False
1,54.0,0,0,No Info,27.32,6.6,80,0,True,False,False
2,28.0,0,0,never,27.32,5.7,158,0,False,True,False
3,36.0,0,0,current,23.45,5.0,155,0,True,False,False
4,76.0,1,1,current,20.14,4.8,155,0,False,True,False

In [47]:
# Ensure the encoded columns are integers (0 and 1)
df_new[['gender_Female', 'gender_Male', 'gender_Other']] = df_new[['gender_Female', 'gender_Male', 'gender_Other']].astype(int)

# Display the first few rows to confirm
df_new.head()

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other
0,80.0,0,1,never,25.19,6.6,140,0,1,0,0
1,54.0,0,0,No Info,27.32,6.6,80,0,1,0,0
2,28.0,0,0,never,27.32,5.7,158,0,0,1,0
3,36.0,0,0,current,23.45,5.0,155,0,1,0,0
4,76.0,1,1,current,20.14,4.8,155,0,0,1,0

In [49]:
df['smoking_history'].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [51]:
data = df_new[df_new['smoking_history'] != 'No Info']

In [53]:
data

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other
0,80.0,0,1,never,25.19,6.6,140,0,1,0,0
2,28.0,0,0,never,27.32,5.7,158,0,0,1,0
3,36.0,0,0,current,23.45,5.0,155,0,1,0,0
4,76.0,1,1,current,20.14,4.8,155,0,0,1,0
5,20.0,0,0,never,27.32,6.6,85,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
99992,26.0,0,0,never,34.34,6.5,160,0,1,0,0
99993,40.0,0,0,never,40.69,3.5,155,0,1,0,0
99997,66.0,0,0,former,27.83,5.7,155,0,0,1,0
99998,24.0,0,0,never,35.42,4.0,100,0,1,0,0
99999,57.0,0,0,current,22.43,6.6,90,0,1,0,0

In [61]:
data[data['smoking_history'] == 'never']

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other
0,80.0,0,1,never,25.19,6.6,140,0,1,0,0
2,28.0,0,0,never,27.32,5.7,158,0,0,1,0
5,20.0,0,0,never,27.32,6.6,85,0,1,0,0
6,44.0,0,0,never,19.31,6.5,200,1,1,0,0
8,42.0,0,0,never,33.64,4.8,145,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
99986,63.0,0,0,never,29.01,4.8,145,0,1,0,0
99987,23.0,0,0,never,17.87,5.8,100,0,1,0,0
99992,26.0,0,0,never,34.34,6.5,160,0,1,0,0
99993,40.0,0,0,never,40.69,3.5,155,0,1,0,0
99998,24.0,0,0,never,35.42,4.0,100,0,1,0,0

In [65]:
data['smoking_history'].value_counts().get('current', 0)

9286

In [67]:
data_update = pd.get_dummies(data, columns=['smoking_history'])

# Display the first few rows to verify
print(data_update.head())

    age  hypertension  heart_disease    bmi  HbA1c_level  blood_glucose_level  \
0  80.0             0              1  25.19          6.6                  140
2  28.0             0              0  27.32          5.7                  158
3  36.0             0              0  23.45          5.0                  155
4  76.0             1              1  20.14          4.8                  155
5  20.0             0              0  27.32          6.6                   85

   diabetes  gender_Female  gender_Male  gender_Other  \
0         0              1            0             0
2         0              0            1             0
3         0              1            0             0
4         0              0            1             0
5         0              1            0             0

   smoking_history_current  smoking_history_ever  smoking_history_former  \
0                    False                 False                   False
2                    False                 False                   False
3                     True                 False                   False
4                     True                 False                   False
5                    False                 False                   False

   smoking_history_never  smoking_history_not current
0                   True                        False
2                   True                        False
3                  False                        False
4                  False                        False
5                   True                        False

In [69]:
data

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other
0,80.0,0,1,never,25.19,6.6,140,0,1,0,0
2,28.0,0,0,never,27.32,5.7,158,0,0,1,0
3,36.0,0,0,current,23.45,5.0,155,0,1,0,0
4,76.0,1,1,current,20.14,4.8,155,0,0,1,0
5,20.0,0,0,never,27.32,6.6,85,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
99992,26.0,0,0,never,34.34,6.5,160,0,1,0,0
99993,40.0,0,0,never,40.69,3.5,155,0,1,0,0
99997,66.0,0,0,former,27.83,5.7,155,0,0,1,0
99998,24.0,0,0,never,35.42,4.0,100,0,1,0,0
99999,57.0,0,0,current,22.43,6.6,90,0,1,0,0

In [71]:
data_update

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,0,1,0,0,False,False,False,True,False
2,28.0,0,0,27.32,5.7,158,0,0,1,0,False,False,False,True,False
3,36.0,0,0,23.45,5.0,155,0,1,0,0,True,False,False,False,False
4,76.0,1,1,20.14,4.8,155,0,0,1,0,True,False,False,False,False
5,20.0,0,0,27.32,6.6,85,0,1,0,0,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99992,26.0,0,0,34.34,6.5,160,0,1,0,0,False,False,False,True,False
99993,40.0,0,0,40.69,3.5,155,0,1,0,0,False,False,False,True,False
99997,66.0,0,0,27.83,5.7,155,0,0,1,0,False,False,True,False,False
99998,24.0,0,0,35.42,4.0,100,0,1,0,0,False,False,False,True,False
99999,57.0,0,0,22.43,6.6,90,0,1,0,0,True,False,False,False,False

In [77]:
data_update[['smoking_history_current', 'smoking_history_ever', 'smoking_history_former', 
             'smoking_history_never', 'smoking_history_not current']] = data_update[['smoking_history_current', 'smoking_history_ever', 'smoking_history_former', 
                 'smoking_history_never', 'smoking_history_not current']].astype(int)

# Display the first few rows to verify
print(data_update.head())

    age  hypertension  heart_disease    bmi  HbA1c_level  blood_glucose_level  \
0  80.0             0              1  25.19          6.6                  140
2  28.0             0              0  27.32          5.7                  158
3  36.0             0              0  23.45          5.0                  155
4  76.0             1              1  20.14          4.8                  155
5  20.0             0              0  27.32          6.6                   85

   diabetes  gender_Female  gender_Male  gender_Other  \
0         0              1            0             0
2         0              0            1             0
3         0              1            0             0
4         0              0            1             0
5         0              1            0             0

   smoking_history_current  smoking_history_ever  smoking_history_former  \
0                        0                     0                       0
2                        0                     0                       0
3                        1                     0                       0
4                        1                     0                       0
5                        0                     0                       0

   smoking_history_never  smoking_history_not current
0                      1                            0
2                      1                            0
3                      0                            0
4                      0                            0
5                      1                            0

In [79]:
data_update.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Female,gender_Male,gender_Other,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,0,1,0,0,0,0,0,1,0
2,28.0,0,0,27.32,5.7,158,0,0,1,0,0,0,0,1,0
3,36.0,0,0,23.45,5.0,155,0,1,0,0,1,0,0,0,0
4,76.0,1,1,20.14,4.8,155,0,0,1,0,1,0,0,0,0
5,20.0,0,0,27.32,6.6,85,0,1,0,0,0,0,0,1,0